@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
.layout {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
}

/* +++++++++++++++++++++ HEADER +++++++++++++++++++++ */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.5rem;
}

#logo {
  font-family: "Sacramento", sans-serif;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.05em;
  /* text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); */
  text-decoration: none;
  z-index: 10;
  position: relative;
}

#logo:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.logo-link:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #708090, #008080, #f6ae2d, #e9c3b8);
  /* box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); */
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}

.logo-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 275px;
}

.menu-link {
  position: relative;
  color: #f5f5f5;
  text-decoration: none;
  /* font-size: 2.25rem; */
  font-size: clamp(1.5rem, 8vw + 1rem, 1.5rem);
  /* text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); */
  margin: 1.2rem;
  margin-right: 0;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
.menu-link:hover {
  color: #f6ae2d;
}

.menu-link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #f6ae2d, #dd07c8);

  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.menu-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

/*+++++++++++++++++++++ Landing +++++++++++++++++++++  */

.banner {
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.banner .swipe {
  position: relative;
  width: fit-content;
}

.banner .swipe::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 0%;
  height: 100%;
  background-color: #f5f5f5;
  animation: swipe 1.5s ease-out 1s forwards;
}

.banner .swipe--delay::after {
  background: #f6ae2d;
  animation-delay: 1.5s;
  margin-top: 1rem;
}

.headline {
  font-family: "Amatic SC", cursive;
  display: block;
  color: #f5f5f5;
  font-size: clamp(3rem, 8vw + 1rem, 8rem);
  line-height: 1;

  font-weight: 900;
  letter-spacing: -0.02em;
  padding: 15px 25px;
  text-align: center;
  position: relative;
  opacity: 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
  animation: fade 0.01s ease-out 1.75s forwards;
}
.sub-headline {
  display: block;
  color: rgb(255, 183, 0);
  font-size: clamp(1rem, 4vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(243, 200, 10, 0.657);
  padding: 10px 15px;
  margin-top: 1rem;
  opacity: 0;
  animation: fade 0.01s ease-out 2.25s forwards;
  word-wrap: break-word;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swipe {
  0% {
    right: 100%;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: 100%;
    width: 0%;
  }
}

/*+++++++++++++++++++++ Drawings +++++++++++++++++++++  */
.section {
  width: 1280px;
  max-width: 100%;
  margin: 240px auto 0;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
}
.section-header {
  font-family: "Amatic SC", cursive;
  font-size: 10rem;
  font-weight: 800;
  color: #f5f5f5;
  letter-spacing: -0.02em;
  text-align: left;
  z-index: 10;
  line-height: 0.6em;
  width: 100%;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  display: block;
  padding-top: 1.5rem;
}
.grid-item {
  min-height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  /* background-color: #fcbc3e; */
  border: 1px solid #fff;
}

.grid-item-header {
  display: block;
  font-size: 2rem;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  color: #fff;
  line-height: 2rem;
  position: relative;
  letter-spacing: 0.3px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.paragraph {
  margin: 10px auto 0.65em;
  line-height: 1.75rem;
  text-align: left;
  font-size: 1rem;
  font-family: "Courier Prime", monospace;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.gallery-item {
  min-height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image1 {
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873098/1_yxyuzv.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 50%;
}
.image2 {
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873081/Untitled_Artwork_24_pzq9ns.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 50%;
}
.image3 {
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873075/Untitled_Artwork_22_xehsjc.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 50%;
}
.image4 {
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654895279/Untitled_Artwork_10_pg5y7f.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 50%;
}
