@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
.layout {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
}

::selection {
  background-color: rgba(255, 162, 0, 0.861);
  color: black;
  text-shadow: none;
}

/* +++++++++++++++++++++ HEADER +++++++++++++++++++++ */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.5rem;
}

#logo {
  height: 80px;
  z-index: 10;
}

#logo:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.logo-link:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #708090, #008080, #f6ae2d, #e9c3b8);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}

.logo-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 275px;
}

.menu-link {
  position: relative;
  color: #f5f5f5;
  text-decoration: none;
  /* font-size: 2.25rem; */
  font-size: clamp(1.8rem, 8vw + 1rem, 1.8rem);

  margin: 1.2rem;
  margin-right: 0;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
.menu-link:hover {
  color: #f6ae2d;
}

.menu-link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #f6ae2d, #dd07c8);

  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.menu-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  #logo {
    height: 80px;
    margin-bottom: 1rem;
  }
}

/*+++++++++++++++++++++ Landing +++++++++++++++++++++  */

.banner {
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.banner .swipe {
  position: relative;
  width: fit-content;
}

.banner .swipe::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 0%;
  height: 100%;
  background-color: #f5f5f5;
  animation: swipe 1.5s ease-out 1s forwards;
}

.banner .swipe--delay::after {
  background: #f6ae2d;
  animation-delay: 1.5s;
  margin-top: 1rem;
}

.headline {
  font-family: "Amatic SC", cursive;
  display: block;
  color: #f5f5f5;
  font-size: clamp(3rem, 8vw + 1rem, 8rem);
  line-height: 1;

  font-weight: 900;
  letter-spacing: -0.02em;
  padding: 15px 25px;
  text-align: center;
  position: relative;
  opacity: 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
  animation: fade 0.01s ease-out 1.75s forwards;
}
.sub-headline {
  display: block;
  color: rgb(255, 183, 0);
  font-size: clamp(1rem, 4vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(243, 200, 10, 0.657);
  padding: 10px 15px;
  margin-top: 1rem;
  opacity: 0;
  animation: fade 0.01s ease-out 2.25s forwards;
  word-wrap: break-word;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swipe {
  0% {
    right: 100%;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: 100%;
    width: 0%;
  }
}

/*+++++++++++++++++++++ Drawings +++++++++++++++++++++  */
.section {
  width: 1280px;
  max-width: 100%;
  margin: 240px auto 0;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
}
.section-header {
  font-family: "Amatic SC", cursive;
  font-size: 10rem;
  font-weight: 800;
  color: #f5f5f5;
  letter-spacing: -0.02em;
  text-align: left;
  z-index: 10;
  line-height: 0.6em;
  width: 100%;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  display: block;
  padding-top: 1.5rem;
}
.grid-item {
  min-height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  /* background-color: #fcbc3e; */
  border: 1px solid #fff;
}

.grid-item-header {
  display: block;
  font-size: 2rem;
  font-family: "Fresca", sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 2rem;
  position: relative;
  letter-spacing: 0.3px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.paragraph {
  margin: 5px auto 0.65em;
  line-height: 1.75rem;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Fresca", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.gallery-item {
  min-height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gallery-item li {
  list-style: none;
}
.gallery-item li:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.image1 {
  background: rgb(178, 67, 67);
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873098/1_yxyuzv.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}

.image2 {
  background: rgb(77, 66, 136);
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873075/Untitled_Artwork_22_xehsjc.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}
.image3 {
  background: rgb(115, 147, 88);
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873081/Untitled_Artwork_24_pzq9ns.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}
.image4 {
  background: rgb(131, 18, 148);
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1654873869/Untitled_Artwork_23_tnugxe.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}
.image5 {
  background: rgb(119, 92, 123);
  background-image: url(https://reyuzv.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}
.image6 {
  background: rgb(47, 179, 181);
  background-image: url(https://reyuzv.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}
.image7 {
  background: rgb(186, 228, 34);
  background-image: url(https://reyuzv.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}
.image8 {
  background: rgb(162, 65, 45);
  background-image: url(https://reyuzv.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .section-header {
    font-size: 5rem;
  }
}

/*+++++++++++++++++++++ ANIMATION +++++++++++++++++++++  */

.video1 {
  width: 100%;
}

/*+++++++++++++++++++++ ABOUT +++++++++++++++++++++  */

.about-color {
  background-color: #602e68;
  border: none;
}

.about-items {
  min-height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about1,
.about2 {
  height: 500px;
  width: 50%;
}

.about2 {
  background-image: url(https://res.cloudinary.com/antonjs/image/upload/v1655156178/misha_a9bgfu.png);
  background-size: cover;
  background-position: center;
}

.about-links {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  line-height: 2rem;
  position: relative;
  letter-spacing: 0.3px;
  color: #fff;
}

.line {
  display: block;
  position: relative;
  height: 2px;
  width: 100px;
  margin: 30px auto 15px;
  background-color: #fff;
}

.line-color-change {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .about-links {
    font-size: 1.5rem;
  }

  .paragraph {
    line-height: 1.45;
  }
}

/*+++++++++++++++++++++ CONTACT +++++++++++++++++++++  */

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}
.contact .contactForm {
  position: relative;
  width: 700px;
}
.contact .contactForm .row {
  width: 100%;
  display: flex;
}
.contact .contactForm .row .col50 {
  width: 50%;
  margin: 10px;
}
.contact .contactForm .row .col100 {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.contact .contactForm .row input,
.contact .contactForm .row textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  resize: none;
  font-family: "Fresca", sans-serif;
}
.contact .contactForm .row textarea {
  height: 100px;
}
.contact .contactForm .row input[type="submit"] {
  background: #f6ae2d;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 150px;
}

/*+++++++++++++++++++++ @media +++++++++++++++++++++  */

@media screen and (max-width: 991px) {
  .contact-links {
    font-size: 1.5rem;
  }

  .paragraph {
    line-height: 1.45;
  }
}
@media screen and (max-width: 768px) {
  /* Navigation */

  .menu-link {
    font-size: 1.8rem;
  }

  /* About  */

  .about1,
  .about2 {
    width: 100%;
  }

  .grid-item {
    padding: 70px;
  }

  .gallery-item {
    flex-direction: column;
  }

  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6,
  .image7,
  .image8 {
    width: 100%;
  }

  .image1 {
    background-position-y: 30%;
  }

  /* Contact */

  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .contact .contactForm .row textarea {
    width: 350px;
  }
}

@media screen and (max-width: 428px) {
  .section {
    padding: 10px;
  }
  /* About */

  .grid-item {
    padding: 50px;
  }

  .section-header {
    font-size: 5rem;
    padding-top: 1rem;
  }

  .grid-item-header {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 0.875rem;
  }

  /* About */
  .about-items {
    flex-direction: column;
  }
  .about-links {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1921px) {
  .paragraph {
    font-size: 1.25rem;
  }
}
